.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar {
  background-color: #20124d !important;
}

.text-purple {
  color: #3023AE;
}

.background-purple {
  background: #3023AE;
  border-color: #3023AE;
}

.background-purple:hover {
  background: #B670D0;
  border-color: #B670D0;
}

.smokefree-green {
  color:#62AC28;
}

.nav-link, .serif {
  font-family: 'IBM Plex Serif', serif;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel .title {
  max-height: 200px;
}

.team .col-lg-4 {
  margin-bottom: 1.5rem;
  
}
.team h2 {
  font-weight: 400;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.pt-md-11, .py-md-11 {
  padding-top: 6em !important;
}

.navbar-brand-img {
  height: 48px;
}

.text-lightweight {
  font-weight: 100;
}
